.headerfootercolor{
    background-color:rgb(154, 217, 234);
  }
  
  /*WEBOLDAL GÖRGŐ BEÁLLÍTÁSAINAK ELEJE*/
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(23, 120, 147);
    height: 200px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(7, 53, 66);
  }
  /*WEBOLDAL GÖRGŐ BEÁLLÍTÁSAINAK VÉGE*/
  
   /*DIV HÁTTÉRSZÍN BEÁLLÍTÁSOK ELEJE*/
    .light-brown-background-color {
      background-color: rgb(76, 93, 68);
    }
    
    .dark-brown-background-color {
      background-color: rgb(76, 123, 136);
      background-repeat: no-repeat;
      width: 100% 100%;
    }
    /*DIV HÁTTÉRSZÍN BEÁLLÍTÁSOK VÉGE*/
  
    body {
      position: relative;
    }
    
  /* a fő div háttérszine és bordere*/
  
    .scrollspy {
      padding: 50px 20px;
      border-radius: 40px 15px 40px 15px;
      border: 6px solid rgb(32, 117, 148);
      text-align: center;
      border-style: outset;
    }
  
  
    /*CAROUSEL MAGASSÁGÁNAK BEÁLLÍTÁSA*/
    .carousel-inner {
      max-height: 700px;
    }
    
  